* {
    margin: 0px;
    font-family: Miltonian;
    background-color: #383838;
}

/*Header*/

.headerCrt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101010;
}

.headerItems {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    width: 137.600px;
}

#headerTitleList {
    display: flex;
}

#headerTitle {
    display: flex;
}

#title1 {
    color: #ffcc01;
    -webkit-text-stroke: 1px #375caa;
    background-color: #101010;
}

#title2 {
    color: #b7a037;
    -webkit-text-stroke: 1px #6d6021;
    text-shadow: 0 0 2px #6d6021;
    background-color: #101010;
}

#title3 {
    color: #78c84e;
    -webkit-text-stroke: 1px #43702b;
    text-shadow: 0 0 2px #43702b;
    background-color: #101010;
}

#title4 {
    color: #a890f0;
    -webkit-text-stroke: 1px #5d5086;
    text-shadow: 0 0 2px #5d5086;
    background-color: #101010;
}

/*Main*/

.mainCrt {
    background-color: #383838;
}

#pokeball {
   position: relative;
   left: 44%;
   width: 204.8px;
}

.playersList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 185px;
}

#player, #joey {
    background-color: #101010;
    border: 1px #050505;
    border-radius: 15px;
    padding: 50px;
    list-style: none;
}

#playerText, #joeyText {
    color: #ffd304;
    background-color: #101010;
}

#playerScore, #joeyScore {
    color: #f43739;
    position: relative;
    left: 40%;
    background-color: #101010;
}

.background {
    background-color: #101010;
}

.selections {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 301px;
    position: relative;
    left: 40.5%;
    gap: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #101010;
    border: 1px#050505;
    border-radius: 15px;
    margin-bottom: 100px;
}

#rockType {
    color: white;
    background-color: #b7a037;
}

#paperType {
    color: white;
    background-color: #78c84e;
}

#scissorsType {
    color: white;
    background-color: #a890f0;
}

/*Footer*/

.footerCrt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #101010;
}