* {
    margin: 0px;
    font-family: Miltonian;
}

/*Header*/

.headerCrt {
    background-color: #101010;
}

#headerTitle {
    display: flex;
    justify-content: center;
}

#title1 {
    color: #ffcc01;
    -webkit-text-stroke: 1px #375caa;
    background-color: #101010;
}

#title2 {
    color: #b7a037;
    -webkit-text-stroke: 1px #6d6021;
    text-shadow: 0 0 2px #6d6021;
    background-color: #101010;
}

#title3 {
    color: #78c84e;
    -webkit-text-stroke: 1px #43702b;
    text-shadow: 0 0 2px #43702b;
    background-color: #101010;
}

#title4 {
    color: #a890f0;
    -webkit-text-stroke: 1px #5d5086;
    text-shadow: 0 0 2px #5d5086;
    background-color: #101010;
}

/*Main*/

.mainCrt1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383838;
}

.pokeball {
    width: 128px;
}

.mainCrt2 {
    display: flex;
    justify-content: space-around;
    background-color: #383838;
}

.playersList {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

#player, #joey {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0px;
    background-color: #101010;
    border: 3px #050505;
    border-radius: 10px;
}

#playerText, #joeyText {
    color: #ffd304;
    background-color: #101010;
}

#playerScore, #joeyScore {
    color: #f43739;
    background-color: #101010;
}

.mainCrt3 {
    display: flex;
    justify-content: center;
    background-color: #383838;
}

.selections {
    margin-top: 201px;
    margin-bottom: 245px;
    background-color: #101010;
    border: 1px#050505;
    border-radius: 15px;
    padding: 10px;
}

#rockType {
    color: white;
    background-color: #b7a037;
}

#paperType {
    color: white;
    background-color: #78c84e;
}

#scissorsType {
    color: white;
    background-color: #a890f0;
}

/*Footer*/

.footerCrt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    color: white;
}

